<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab2BD1.Properties.Settings.EnglishClubDbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EnglishClubDb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lab2BD1.Properties.Settings.RacingConnectionString"
            connectionString="Data Source=ArtemsNotebook;Initial Catalog=Racing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lab2BD1.Properties.Settings.KursWorkConnectionString"
            connectionString="Data Source=ARTEMSNOTEBOOK;Initial Catalog=KursWork;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>