USE [master]
GO
/****** Object:  Database [Racing]    Script Date: 10/9/2020 5:03:46 AM ******/
CREATE DATABASE [Racing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Racing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Racing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Racing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Racing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Racing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Racing]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 10/9/2020 5:03:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[Driver_ID] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](60) NOT NULL,
	[Middle name] [nvarchar](60) NULL,
	[Class] [nvarchar](60) NOT NULL,
	[TelephoneNumber] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Heap]    Script Date: 10/9/2020 5:03:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Road_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Road]    Script Date: 10/9/2020 5:03:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Road](
	[Road_ID] [int] IDENTITY(1,115) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Length] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Road_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([Driver_ID], [Lastname], [Middle name], [Class], [TelephoneNumber]) VALUES (1, N'1111111111', N'arte', N'a', N'5647')
INSERT [dbo].[Driver] ([Driver_ID], [Lastname], [Middle name], [Class], [TelephoneNumber]) VALUES (2, N'CHANGED', N'jsjdj', N'b', N'75758')
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Heap] ON 

INSERT [dbo].[Heap] ([Id], [StartDate], [Driver_ID], [Road_ID]) VALUES (2, CAST(N'2020-01-01T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Heap] ([Id], [StartDate], [Driver_ID], [Road_ID]) VALUES (5, CAST(N'2019-06-06T00:00:00.000' AS DateTime), 1, 116)
INSERT [dbo].[Heap] ([Id], [StartDate], [Driver_ID], [Road_ID]) VALUES (6, CAST(N'2013-03-03T00:00:00.000' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Heap] OFF
GO
SET IDENTITY_INSERT [dbo].[Road] ON 

INSERT [dbo].[Road] ([Road_ID], [Name], [Length]) VALUES (1, N'Firts', 1000)
INSERT [dbo].[Road] ([Road_ID], [Name], [Length]) VALUES (116, N'sec', 10)
SET IDENTITY_INSERT [dbo].[Road] OFF
GO
ALTER TABLE [dbo].[Heap]  WITH CHECK ADD FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Driver] ([Driver_ID])
GO
ALTER TABLE [dbo].[Heap]  WITH CHECK ADD FOREIGN KEY([Road_ID])
REFERENCES [dbo].[Road] ([Road_ID])
GO
USE [master]
GO
